.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  &--horizontal {
    flex-direction: row;
  }
  &--verticle {
    flex-direction: column;
  }
  &--center {
    align-items: center;
  }
  &--justify {
    justify-content: center;
  }
  &.std-pd {
    padding: 0;
    margin-left: -5px;
    margin-right: -5px;
  }
}



