$primary-font-stack: 'Montserrat', sans-serif;
$heading-font-stack: arial, sans-serif;
$secondary-font-stack: times, serif;


// fonts size value without unit
$font-size--body-xs: 14;
$font-size--body-sm: 14;
$font-size--body-md: 16;
$font-size--body-lg: 16;

$line-height--body: 24;

$font-size--h1: 72;
$font-size--h2: 34;
$font-size--h3: 30;
$font-size--h4: 24;
$font-size--h5: 18;
$font-size--h6: 16;

$line-height--h1: 78;
$line-height--h2: 40;
$line-height--h3: 36;
$line-height--h4: 30;
$line-height--h5: 24;
$line-height--h6: 21;



